<div class="row">
    <div class="col-lg-8 col-news">

        <% for (var i in news) { %>
            <div class="search-news-block row">
                <a href="/news/<%= news[i].uid %>">
                    <div class="col-lg-6">
                        <img class="img-responsive news-block-img news-block-img-lg" src="<%= news[i].imageThumb %>" alt="<%= news[i].title %>">
                    </div>
                    <div class="col-lg-6">
                        <h3 class="search-news-block-title"><%= news[i].title %></h3>
                        <p class="search-news-subtitle"><%= news[i].subtitle %></p>
                        <p class="search-news-date">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABFUlEQVQ4T32Ty3GDMBCGd4eBM+kgpTgdUIIOSMPRJbgEjozEQakgdBBKcQfxWQxsZj3ejCJL5gJa9P37RkgerbVCxBMRtYh4kzcAfFtrP+PrKIdhGN73fR+JaJzneWV73/cn+TbGdESkqqo6T9N05f93WMBt25T3/iaCxpiLtfYiZ6VUW9e1F4E7rLVeUpDtKcw2EXDOdcg5EtFVwotzysEPUU6hRWOMt9aqtHAlz1FKnj0vHEIBLgozV/TM1QWAr+M4Pgop5T1zUZqmGQFgCSGscQckwqxnAUMI5xyU5vxUbRZ4BXKH/oak1OdcEf/1+dWEpXB2wmIBROT2LLmFAYDuabbji/FWAcAPALw9tmt1zvn47i+fVdpicfs0DQAAAABJRU5ErkJggg==" />
                            <%= moment(news[i].createdAt).format('LL') %>
                        </p>
                    </div>
                </a>
            </div>
            <hr/>
        <% } %>

    </div>

    <div class="col-lg-4 news-related">
        <div class="merchan">
            <img class="merchan-img" src="/images/merchan/merchan1_optimized.png">
            <img class="merchan-img" src="/images/merchan/merchan2_optimized.jpg">
        </div>


        <h3 class="page-header news-related-title">Breaking</h3>

        <% for (var i in breakingNews) { %>
            <div class="row breakingnews">
                <a href="/news/<%= breakingNews[i].uid %>">
                    <div class="col-lg-5"><img class="img-responsive news-block-img news-block-img-xs"
                                               src="<%= breakingNews[i].imageThumb %>"
                                               alt="<%= breakingNews[i].title %>"></div>
                    <h4 class="col-lg-7 news-block-title"><%= breakingNews[i].title %></h4>
                </a>
            </div>
            <hr/>
        <% } %>

    </div>
</div>
